body {
  max-width: 1300px;
  margin: auto;
  font-family: sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #333;

  height: 120px;
}
header a {
  color: #fff;
}

.body-content {
  display: flex;
  justify-content: space-between;
}
.filter {
  flex-basis: 25%;
}
.filter ul {
  padding-left: 0;
}
.filter li {
  height: 70px;
  list-style: none;
  font-size: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
}
.filter li:hover {
  background: #f3f3f3;
}
.foodlist {
  flex-basis: 73%;
}

.product,
.productC {
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.buttons button {
  padding: 20px;
  cursor: pointer;
  margin-right: 10px;
}

.product-prices {
  flex-basis: 23%;
}
.product-checkout {
  flex-basis: 75%;
}
